@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: normal; /* Regular style */
  font-display: swap; /* Use 'swap' for better performance and user experience */
}

@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: italic; /* Italic style */
  font-display: swap; /* Use 'swap' for better performance and user experience */
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: normal; /* Italic style */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: #fff;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgb(43, 145, 178);
  transform: rotate(-12deg) translateY(-15vmin) translateX(-20vmin); /* Adjust the rotation and translation as needed */
  transform-origin: top left;
  z-index: -1;
}

#image-container {
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 25px rgb(0, 0, 0);
  z-index: 1;
}

#profile-picture {
  width: 500px;
  border-radius: 2px;
  display: block;
}

#name {
  position: absolute;
  top: 94%;
  left: 35%;
  /* transform: translate(-50%, -50%); */
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  /* text-align: center; */
}

#about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 500px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 25px rgb(0, 0, 0);
  border-radius: 2px;
}

#about-me-container h2,
p {
  margin: 0;
  text-align: start;
}

#about-me-container h2 {
  color: black;
  font-size: 50px;
  font-weight: 100;
}

#about-me-container p {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.562);
  font-size: 25px;
}

#about-me-container div {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  gap: 20px;
}

#about-me-container div img {
  width: 30px;
}

#about-me-container div i {
  font-size: 25px;
  margin-top: 2px;
}

.devicon-twitter-original {
  filter: invert(1);
}

main {
  margin: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(43, 145, 178);
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}
