@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: normal; /* Regular style */
  font-display: swap; /* Use 'swap' for better performance and user experience */
}

@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: italic; /* Italic style */
  font-display: swap; /* Use 'swap' for better performance and user experience */
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Specify the font weight range */
  font-style: normal; /* Italic style */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: rgb(43, 145, 178);
  padding: 1rem;
  text-align: center;
  color: #fff;
}

main {
  margin: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(43, 145, 178);
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}